html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
header{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: sticky;
  top: 0;
  background:white;
  height: 80px;
}

@media(max-width: 1500px){
  header{
    height:150px;
    
  }
  nav{
    flex-direction: column;
    justify-content: center;
  }
}




.left img{
  width: 53px;
  height: 36px;
  padding-top: 20px;
}
.container{
 padding-left:25px;
 
}
.semibold{
  font-weight:bolder;
}

nav ul li{
  padding:  15px 12px;
  list-style-type:none;
}

.section1{
  background-color:#E5E4E2;
  
 }

.homeimg{
  width: 98%;
  padding-top:10px;
  border-radius:10px;
  
}

.img2{
  width: 98%;
  height: 175px;
   border-radius:10px;
}
.dealsimg{
 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 240px;
    
}
.section2{
   background-color:#E5E4E2;
}

.section3{
   background-color:#E5E4E2;
}

.brandsimg{
  border-radius: 5px;
  margin: 2 5px;
  

}
