.flex{
    display: flex;
}
.items-centre{
    align-items: center;
}
.justify-centre{
    justify-content: center;
}
.space-between{
    justify-content: space-between;
}
.upper-case{
    text-transform: uppercase;
}
.semibold{
    font-weight: bold;
}
.mx-2{
    margin-left: 12px;
    margin-right: 12px;
}
.my-2{
    margin: 12px 0;
}